<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>BezierSurgeon.py</string>
			<key>preferredName</key>
			<string>Bezier Surgeon</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Connor Davenport</string>
	<key>developerURL</key>
	<string>http://www.connordavenport.com/</string>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>/Users/connordavenport/Dropbox (Personal)/Typefaces/Scripts/ObtuseBois/BezierSurgeon/lib/BezierSurgeon.py</string>
	<key>name</key>
	<string>Bezier Surgeon</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>1</string>
	<key>timeStamp</key>
	<real>1584287221.4917262</real>
	<key>version</key>
	<string>0.1</string>
</dict>
</plist>
